################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReflectionDiff/.vs/ReflectionDiff
/ReflectionDiff/ReflectionDiff/obj
/ReflectionDiff/ReflectionDiff/bin/Debug/net6.0
